<div class= "jumbotron">

  <h1>Wesome to the Word Puzzle</h1>
    <form action="/success">
      <label for="word_puzzle">Enter a phrase, get a puzzle!</label>
      <input placeholder="Enter phrase" id="puzzled" name="puzzled" type="text">
      <button type="submit" class="btn btn-success">Puzzle It!</button>
    </form>
  </div>
