<h1>Welcome to the Word Puzzle</h1>

  <form action="/success">
    <label for="puzzled">Enter a phrase, get a puzzle!</label>
    <input placeholder="Enter phrase" id="puzzled" name="puzzled" type="text">
    <button type="submit" class="btn btn-success">Puzzle it!</button>
  </form>
